<h1 class="mt-33">Pipes <small>Angular</small></h1>
<hr>

<div class="row">
  <div class="col">
    <table class="table">
      <thead class="thead-dark">
        <th>variable</th>
        <th>pipe</th>
        <th>salida</th>
      </thead>
      <tbody>
        <tr>
          <td>{{nombre}}</td>
          <td>uppercase</td>
          <td>{{nombre | uppercase }}</td>
        </tr>
        <tr>
          <td>{{nombre}}</td>
          <td>lowercase</td>
          <td>{{nombre | lowercase }}</td>
        </tr>
        <tr>
          <td>{{nombre2}}</td>
          <td>capitalizado</td>
          <td>{{nombre2 | capitalizado:true}}</td>
        </tr>
        <tr>
          <td>{{nombre}}</td>
          <td>slice:3</td>
          <td>{{nombre | slice:3 }}</td>
        </tr>
        <tr>
          <td>{{nombre}}</td>
          <td>slice:0:5</td>
          <td>{{nombre | slice:0:5 }}</td>
        </tr>
        <tr>
          <td>{{arreglo}}</td>
          <td>slice:1:6</td>
          <td>{{arreglo | slice:1:6 }}</td>
        </tr>
        <tr>
          <td>{{PI}}</td>
          <td> number:'3.0-0'</td>
          <td>{{PI | number:'3.0-0'  }}</td>
        </tr>
        <tr>
          <td>{{PI}}</td>
          <td>number:'.0-4' </td>
          <td>{{PI | number:'.0-4'  }}</td>
        </tr>
        <tr>
          <td>{{porcentaje}}</td>
          <td>percent</td>
          <td>{{porcentaje | percent}}</td>
        </tr>
        <tr>
          <td>{{porcentaje}}</td>
          <td>percent:'2.2-2'</td>
          <td>{{porcentaje | percent:'2.2-2'}}</td>
        </tr>
        <tr>
          <td>{{moneda}}</td>
          <td>currency</td>
          <td>{{moneda | currency}}</td>
        </tr>
        <tr>
          <td>{{moneda}}</td>
          <td>currency:'COP'</td>
          <td>{{moneda | currency:'COP'}}</td>
        </tr>
        <tr>
          <td>{{moneda}}</td>
          <td>currency:'COP':'symbol-narrow'</td>
          <td>{{moneda | currency:'CLP':'symbol-narrow'}}</td>
        </tr>
        <tr>
          <td>{{moneda}}</td>
          <td>currency:'COP':'symbol':'.0-0'</td>
          <td>{{moneda | currency:'COP $':'symbol':'.0-0'}}</td>
        </tr>
        <tr>
          <td>{{heroe}}</td>
          <td>json</td>
          <td><pre>{{heroe | json}}</pre></td>
        </tr>
        
        <tr>
          <td>{{valorPromesa}}</td>
          <td>async</td>
          <td><pre>{{valorPromesa | async}}</pre></td>
        </tr>
        <tr>
          <td>{{fecha}}</td>
          <td>date</td>
          <td><pre>{{fecha | date}}</pre></td>
        </tr>
        <tr>
          <td>{{fecha}}</td>
          <td>date:'medium'</td>
          <td><pre>{{fecha | date:'medium'}}</pre></td>
        </tr>
        <tr>
          <td>{{fecha}}</td>
          <td>date:'short'</td>
          <td><pre>{{fecha | date:'short'}}</pre></td>
        </tr>
        <tr>
          <td>{{fecha}}</td>
          <td>date:'MMM - dd'</td>
          <td><pre>{{fecha | date:'MMMM - dd'}}</pre></td>
        </tr>
        <tr>
          <td>{{fecha}}</td>
          <td>date:'MMM - dd':'':'{{idioma}}'
            <br>
            <button class="mr-1 btn btn-primary"   (click)="idioma = 'es-CO'">Español</button>
            <button class="mr-1 btn btn-secondary" (click)="idioma = 'en'">Inglés</button>
            <button class="mr-1 btn btn-success"   (click)="idioma = 'fr'">Francés</button>
          </td>
          <td><pre>{{fecha | date:'MMMM - dd':'':idioma}}</pre></td>
        </tr>
        <tr>
          <td>{{nombre}}</td>
          <td>contrasena : {{activar}}
            <br>
          <button class="btn btn-sm btn-outline-primary" (click)="activar = !activar">Activar / Desactivar</button>
        </td>
          <td><pre>{{nombre | contrasena : activar}}</pre></td>
        </tr>
        
      </tbody>
    </table>
   
    <h4>Slice</h4>
 <ul>
   <li *ngFor="let item of arreglo | slice:5:20">{{item}}</li>
 </ul>

 <h3>JSON</h3>
 <div class="row mb-5">
   <div class="col">
     {{heroe}}
   </div>
 </div>
</div>
  </div>

 <h3 class="mt-4">Dom seguro</h3>
 <hr>
 <div class="row mb-5">
   <div class="col">
    <iframe width="560" height="315" [src]="videoUrl | DOMSeguro" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </div>
 </div>